* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
img {
  max-width: 100%;
}
body {
  background-color: #20202d;
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 90%;
  max-width: 945px;
  margin: auto;
}
/*Header
===========================================*/
.hero {
  padding-top: 50px;
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
  padding-bottom: 155px;
}
.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}
.social__link {
  margin-left: 20px;
}
.social__link:first-child {
  margin-left: 0;
}
.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__subtitle {
  display: inline-block;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 28px;
  color: #ffbb01;
}
.hero__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 20px;
}
.hero__descripiton {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px;
  margin-bottom: 38px;
}
.button {
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  box-shadow: 0px 4px 0px #b68500;
  border-radius: 5px 5px 10px 10px;
  border: none;
  padding: 24px 42px 24px 42px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.hero__avatar {
  width: 389px;
  height: 389px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/avatar.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  border: 13px white solid;
}
/*Feature
===========================================*/
.feature {
  background: #000;
}
.section {
  padding-top: 84px;
  padding-bottom: 148px;
}
.section__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin-bottom: 84px;
}
.feature__block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
  justify-content: space-between;
}
.storage__block {
  width: 30%;
  margin-bottom: 66px;
}
.storage__img {
  margin-bottom: 22px;
}
.storage__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}
.storage__text {
  font-size: 16px;
  line-height: 28px;
}
/*Project
===========================================*/
.projects {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}
.projects__slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.projects__image {
  border-radius: 6px;
}
.project__text {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}
.project__title {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 42px;
}
.project__time,
.project__cost {
  flex-basis: 50%;
  margin-bottom: 44px;
}
.project__cost,
.project__time,
.project__feedback {
  display: flex;
  align-items: flex-start;
}
.description__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}
.description__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.project__icon {
  margin-right: 19px;
}
/*Footer
===========================================*/
.contacts__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Form*/
.contact__form {
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  background: #fff;
  max-width: 380px;
  padding: 48px 48px 49px;
}
.form__title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 29px;
}
.input {
  background: #f8f8f8;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  border: none;
  padding: 18px 20px;
  padding-left: 50px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}
.input__name {
  margin-bottom: 17px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.input__phone {
  margin-bottom: 26px;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.form__button {
  width: 100%;
}
/*Contact*/
.contact__data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
.contact__phon,
.contact__mail {
  width: 50%;
  margin-bottom: 53px;
}
.contact__text {
  flex-basis: 50%;
}
.contact__social {
  width: 100%;
}
.contacts__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}
.contact__link {
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}
.contact__link:hover {
  text-decoration: underline;
}
.content__policy {
  display: inline-block;
  color: #a5a5a5;
  font-size: 15px;
  line-height: 18px;
  margin-top: 72px;
}
/*Projects-bullet
===========================================*/
.projects-pagination {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 44px;
}
.projects-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid #ffbb01;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.projects-bullet-active {
  background-color: #ffbb01;
}

/* Responsive */
@media (max-width: 1100px) {
  .hero__avatar {
    width: 300px;
    height: 300px;
    border-width: 10px;
  }
}
@media (max-width: 836px) {
  .hero__content {
    flex-direction: column;
  }
  .hero__avatar {
    order: 0;
    width: 300px;
    height: 300px;
    border-width: 10px;
    margin-bottom: 17px;
  }
  .hero__text {
    order: 1;
    text-align: center;
  }
  .storage__block {
    flex-basis: 45%;
  }
  .projects__slide {
    flex-direction: column;
  }
  .projects__image {
    margin-bottom: 46px;
  }
  .contacts__block {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact__form {
    margin-bottom: 50px;
  }
}
@media (max-width: 564px) {
  .hero__subtitle {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 5px;
  }
  .hero__avatar {
    width: 113px;
    height: 113px;
    border-width: 4px;
    background-size: 100%;
    background-position: center top;
  }
  .hero__header {
    margin-bottom: 38px;
  }
  .social-links {
    margin-left: 5px;
  }
  .hero__title {
    font-size: 24px;
    line-height: 28px;
  }
  .hero__descripiton {
    font-size: 14px;
    line-height: 140%;
  }
  .section {
    padding: 60px 0;
  }
  .section__title {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 60px;
  }
  .storage__block {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .srorage__title {
    font-size: 18px;
    line-height: 28px;
  }
  .storage__text {
    font-size: 14px;
    line-height: 28px;
  }
  .project__title {
    font-size: 18ps;
    line-height: 150%;
  }
  .project__time,
  .project__cost,
  .project__feedback {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .description__text {
    font-size: 14px;
  }
  .contact__form {
    padding: 40px 19px;
  }
  .form__title {
    line-height: 140%;
    font-size: 15px;
  }
  .form__button {
    font-size: 10px;
  }
  .contact__phon,
  .contact__mail {
    width: 100%;
    margin-bottom: 30px;
  }
  .contacts__title {
    font-size: 18px;
    line-height: 21px;
  }
  .contact__link {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    margin-bottom: 13px;
  }
}
